html, body {
    height: 100%;
}

#popup-info {
    position: absolute;
    top:20%;
    width: 400px;
    left: 50%;
    transform: translateX(-200px);
    z-index: 100;
}

#map-canvas {
    width: 100%;
    height: 100%;  
}

.btn-rounded {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

#login-container {
    width: 100%;
    border-style: solid;
    border-color: black;
}

#doesnot-have-account-text {
    text-align: center; 
}

#select-instrument-register {
    width: 200px;
}

.select-instrument-item {
    margin: 0 auto;
}

#status-bar {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#taskbar, #postbar {
    display: flex;
}

#postbar {
    display: flex;
    color: #FFDDCA;
}

#show-taskbar-button {
}

#username-textbox, #password-textbox {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#login-button {
    display: block; 
    max-width: 100px;
    margin: 0 auto;
}

.marker-container {
    width: 40px;
    height: 60px;
}

.marker-image {
    width: 40px;
    height: 60px;
}

.music-type-image {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.infobox {
    width: 80px;
    height: auto;
}

.avatar {
    width: 100%;
    height: 80px;
    border-radius: 10%;
}

.name-in-infobox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: white;
    border-radius: 10%;
}

#interaction-pane-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    max-height: 460px;
}

#owner-box {
    width: 100%;
    display: flex;
}

#owner-info {
    width: 20%;
    max-width: 60px;
    margin-right: 20px;
}

#owner-avatar {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#owner-post-container {
    width: 80%;
    align-items: center;
    margin-right: 20px;
    height: auto;
}

#owner-post {
    width: 100%;
}

#soundcloud-frame {
    width: 100%;
}

#action-bar {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

#reply-container {
    width: 60%;
    margin: auto;
}

.rating-bar {
    display: flex;
}

.rating-label {
    background: white;
    width: 150px;
}

#comment-box {
    display: flex;
    width:auto;
    align-items: center;
    margin-top: 30px;
}
