html, body {
    height: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;  
}

#avatar {
    width: 40px;
    height: 40px;
}

#owner-box {
    width: 100%;
    height: 100px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#owner-info {
    width: 20%;
    max-width: 60px;
    margin-right: 20px;
}

#owner-avatar {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#owner-post-container {
    width: 80%;
    display: flex;
    align-items: center;
}

#action-bar {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

#reply-container {
    width: 60%;
    margin: auto;
}
